{% extends 'om14-shop.twig' %}
{% block content %}
    {% for type, flashes in messages %}
        {% for message in flashes %}
            <div class="message {{ type }}-message">{% if type == 'error' %}Ein Fehler ist aufgetreten: {% endif %}{{ message }}</div>
        {% endfor %}
    {% endfor %}
    <div id="offers">
        {% if availableItems %}
            {% for item in availableItems %}
                <form method="POST" action="{{ addURL }}">
                    <input type="hidden" name="type" value="{{ item.type }}" />
                    <input type="hidden" name="csrf" value="{{ csrfToken }}" />
                    <div id="offer-{{ item.type }}" class="item">
                        {{ item.title }}
                        <input type="submit" value="Hinzufügen" />
                    </div>
                </form>
            {% endfor %}
        {% else %}
            <div class="error">Es gibt momentan nichts zu kaufen!</div>
        {% endif %}
    </div>
    <div id="cart">
        {% for item in cart %}
            <form method="POST" action="{{ removeURL }}">
                <input type="hidden" name="id" value="{{ item.id }}" />
                <input type="hidden" name="csrf" value="{{ csrfToken }}" />
                <div class="item">
                    {{ item.title }}
                    <input type="submit" value="Entfernen" />
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}
